body{
    background-color: lightblue;
}

#header{
    color: red;
    text-align: center;
    border: 2px solid red;
}
.greenText{
    color: green;
    text-align: center;
    border: 2px dashed green;
    border-radius: 50%;
}


.imageList{
    display: flex;
    flex-direction: row;
    border: 2px dotted black
}

.imageDiv{
    padding: 5%;
    margin: 5%;
    width: 30%;
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
}
.link{
    text-align: center;
}
.link:hover{
    color: hotpink;
    background-color: black;
}